<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>banking</title>
		  <link rel="stylesheet" href="style.css">
	</head>
	<body>
	 <a href="#" class="back-btn">←</a>

  		<div class="login-container">
   			 <h2>MY BANK</h2>

		    <form>
		      <label for="username">Username</label>
		      <input type="text" id="username" placeholder="Enter username">
		
		      <label for="password">Password</label>
		      <input type="password" id="password" placeholder="Enter password">
		
		      <button type="submit" class="login-btn">LOGIN</button>
		
		      <p class="signup-text">Don’t have an account? <a href="#">Signup</a></p>
		    </form>
  		</div>
	</body>
</html>